/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.loginbox {
  margin-top:50px;
}
.forgot{
  float:right; font-size: 80%; position: relative; top:-10px;
}
.login-alert{
  padding-top:30px;
}
.login-alert1{
  display:none;
}
.input-group1{
  margin-bottom: 25px;
}
.form-group1{
  margin-top:10px;
}
.dont-account{
  border-top: 1px solid#888; padding-top:15px; font-size:85%;
}
.sign-up{
  display:none; margin-top:50px;
}
.sign-in-link{
  float:right; font-size: 85%; position: relative; top:-10px;
}
.sign-up-button{
  margin-left:8px;
}
.sign-up-facebook{
  border-top: 1px solid #999; padding-top:20px;
}