<div class="container">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 loginbox">

        <div class="panel panel-info" >

            <div class="panel-heading">
            
                <div class="panel-title">Registration Form</div>

            </div>     

            <div style="padding-top:30px" class="panel-body" >

                    <div id="login-alert" class="alert alert-danger col-sm-12 login-alert1">

                    </div>
                            
                    <form id="loginform" class="form-horizontal" role="form">
                                    
                        <div class="input-group input-group1">
                    
                           	<span class="input-group-addon"><i>F</i></span>
			                     <input id="firstname" type="text" class="form-control" name="firstname" value="" placeholder="First Name">
                        </div>
                                
                        <div class="input-group input-group1">
                        
                           	<span class="input-group-addon"><i>F</i></span>
			                <input id="lastname" type="text" class="form-control" name="lastname" value="" placeholder="Last Name">

                       </div>


                        <div class="input-group input-group1">
                        
                           	<span class="input-group-addon"><i>F</i></span>
			                <input id="email_id" type="text" class="form-control" name="email_id" value="" placeholder="Email ID">

                        </div>

                        <div class="input-group input-group1">
                        
                           	<span class="input-group-addon"><i>F</i></span>
			                <input id="confirm_id" type="text" class="form-control" name="confirm_id" value="" placeholder="Confirm ID">

                        </div>

                        <div sty class="input-group input-group1">
                
                           	<span class="input-group-addon"><i>F</i></span>
			                <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">

                        </div>

                        <div class="form-group form-group1">
                                    <!-- Button -->

                            <div class="col-sm-12 controls">
                            
                                <a id="btn-login" href="#" class="btn btn-success">Register Now</a>

                            </div>

                        </div>

                    </form>     
            </div>

        </div>  

    </div>

</div>
